/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('https://img.freepik.com/free-photo/white-cloud-sky-background_74190-4646.jpg') center/cover no-repeat;
  }
  
  .weather-clear {
    background-image: url('https://img.freepik.com/premium-photo/blue-sky_33836-97.jpg');
  }
  
  .weather-clouds {
    background-image: url('https://media.istockphoto.com/id/157527872/photo/storm-cloud.jpg?s=612x612&w=0&k=20&c=wsK-fd2hBm9SGlV_lnKYqFCAS3-_sk-f9GFAUbT6H40=');
  }
  
  .weather-rain {
    background-image: url('https://media.istockphoto.com/id/454413420/video/heavy-rain.jpg?s=640x640&k=20&c=gjFCLx1DBjxrbTqZgW4P0iVH8s8OO-FqW80BB4wyFzE=');
  }
  
  .weather-snow {
    background-image: url('https://previews.123rf.com/images/feelart/feelart1907/feelart190700050/127412242-snow-falling-on-sky-with-cloud-for-winter-season.jpg');
  }
  
  .weather-thunderstorm {
    background-image: url('https://media.istockphoto.com/id/517643357/photo/thunderstorm-lightning-with-dark-cloudy-sky.jpg?s=612x612&w=0&k=20&c=x3G3UijRPVGFMFExnlYGbnQtnlH6-oUoMU48BTkc0Os=');
  }
  .weather-app {
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    color: #333;
    font-size: 24px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #city-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  #city-input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  #search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .weather-info {
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .location h2 {
    color: #333;
    font-size: 24px;
  }
  
  .temperature {
    margin-top: 10px;
  }
  
  .temp {
    font-size: 3rem;
    color: #333;
  }
  
  .condition {
    color: #666;
    font-size: 18px;
    margin-top: 10px;
  }


  